* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.header {
  background: #ffffff;
  height: 61px;
  border-bottom: #dee2e6 2px solid;
  width: 100%;
  display: flex;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.logo {
  /* float: left; */
  width: 100%;
}
.profile {
  display: inline-flex;
  padding: 10px;
}
.logo img {
  max-height: calc(60px - (0.25rem * 2));
}
.profile img {
  max-height: calc(50px - (0.25rem * 2));
}
svg {
  max-height: calc(50px - (0.25rem * 2));
  cursor: pointer;
}
.container {
  position: relative;
  height: 500px;
  width: 1400px;
  background: #d2d7dd;
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 50px;
}
.card {
  height: 250px;
  width: 400px;
  border-radius: 10px;
  background: #ffffff;
  margin-top: 50px;
  /* border: 1px solid black; */
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(0, -50%);
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
button a{
  text-decoration: none;
  color: #ddd;
}
button:hover {
  background: #3e8e41;
  cursor: pointer;
}
h1,
h3 {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
}

.dropdown:hover .dropdown-options {
  display: block;
}
.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  width: 250px;
  z-index: 1;
  margin-left: -180px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding: 20px 40px;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius: 5px;
}
.blink {
  background: #04aa6d;
  padding: 2px;
  color: #ddd;
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
